{% extends 'base_students.html' %}

{% block title %}Delete student{% endblock %}

{% block content %}
    <form method="post">
            {% csrf_token %}
            <p>Do you really want to remove
                <span style="font-style: italic; font-weight: bold">
                    {{ student.first_name }} {{ student.last_name }}
                </span>
            </p>
            <input type="submit" value="Agree">
            <a href="{% url 'list_students' %}">Cancel</a>
    </form>
{% endblock %}