{% extends 'base_students.html' %}

{% load crispy_forms_filters %}

{% block title %}List of students{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Search
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form method="get">
                {{ students_filter.form | crispy }}
                <input class="btn btn-outline-success" type="submit" value="Search">
            </form>
          </div>
        </div>
      </div>

    <br>
    </br>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>N</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th><i class="bi bi-telephone-fill"></i></th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash3-fill"></i></th>
        </tr>
    </thead>
    {% for student in students_filter.qs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{% if student.phone_number %}{{ student.phone_number }}{% endif %}</td>
            <td><a href="{% url 'update_students' student.pk %}">Edit</a></td>
            <td><a href="{% url 'delete_students' student.pk %}">Delete</a></td>
        </tr>&nbsp;
    {% endfor %}
    </table>
{% endblock %}