{% extends 'base_groups.html' %}

{% load crispy_forms_filters %}

{% block title %}Update group{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-success" type="submit" value="Update">
        <a class="btn btn-outline-primary" href="{% url 'list_groups' %}">Cancel</a>
    </form>
    {% with list_object=group.teachers.all on_group=False %}
        {% include 'includes/teachers_table.html' %}
    {% endwith %}
{% endblock %}