{% extends 'base_teachers.html' %}

{% load crispy_forms_filters %}

{% block title %}List of teachers{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Search
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form method="get">
                {{ teachers_filter.form | crispy }}
                <input class="btn btn-outline-success" type="submit" value="Search">
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
     {% with list_object=teachers_filter.qs on_group=True %}
        {% include 'includes/teachers_table.html' %}
     {% endwith %}
{% endblock %}