<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">N</th>
            <th style="width: 20%">First name</th>
            <th style="width: 20%">Last name</th>
            <th>Age</th>
            <th><i class="bi bi-telephone-fill"></i></th>
            {% if on_group %}<th style="width: 10%">Group</th>{% endif %}
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash3-fill"></i></th>
        </tr>
    </thead>
    {% for teacher in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.age }}</td>
            <td>{% if teacher.phone_number %}{{ teacher.phone_number }}{% endif %}</td>
            {% if on_group %}
                <td>{% if teacher.group.name %}{{ teacher.group.name }}{% endif %}</td>
            {% endif %}
            <td><a href="{% url 'teachers:update' teacher.pk %}">Edit</a></td>
            <td><a href="{% url 'teachers:delete' teacher.pk %}">Delete</a></td>
        </tr>&nbsp;
    {% endfor %}
    </table>